# Resend API (https://resend.com)
RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_TO_EMAIL=your-email@example.com

# Sentry (https://sentry.io)
PUBLIC_SENTRY_DSN=https://your-public-dsn@sentry.io/project-id
SENTRY_DSN=https://your-public-dsn@sentry.io/project-id
SENTRY_AUTH_TOKEN=sntrys_your_token_here
